 body{
    margin: 0;
    padding: 0;
    background: white;
 }
 nav{
    width: 100%;
    background:  rgba(120, 0, 0, 1);
    overflow: auto;
 }
 ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
    overflow: hidden;
 }
 li{
    float:left;
    display: inline-block;
 }
 ul li{
   display: inline;
 }
 .logo img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 375px;
    height: 75px;
 }
 nav a{
    width: 100px;
    display: block;
    padding: 15px 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(120, 0, 0, 1);
    text-align: center;
 }

 h1{
   margin-left: 20px;
 }



 .main-container {
   height: 80vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .main-container h2 {
   margin: 60px 0 40px 0;
   color: rgba(120, 0, 0, 1);
   font-size: 35px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 400;
 }

 .radio-buttons {
   width: 100%;
   margin: 0 auto;
   text-align: center;
 }

 .custom-radio input {
   display: none;
 }

 .radio-btn {
   margin: 10px;
   width: 180px;
   height: 200px;
   border: 3px solid transparent;
   display: inline-block;
   border-radius: 10px;
   position: relative;
   text-align: center;
   box-shadow: 0 0 20px #c3c3c367;
   cursor: pointer;
 }

 .radio-btn > i {
   color: #ffffff;
   background-color: rgba(120, 0, 0, 1);
   font-size: 20px;
   position: absolute;
   top: -15px;
   left: 50%;
   transform: translateX(-50%) scale(4);
   border-radius: 50px;
   padding: 3px;
   transition: 0.2s;
   pointer-events: none;
   opacity: 0;
   
 }

 .radio-btn .hobbies-icon {
   width: 50px;
   height: 50px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .radio-btn .hobbies-icon i {
   color: #8373e6;
   line-height: 50px;
   font-size: 40px;
 }


 .radio-btn .college h3 {
   color: rgba(120, 0, 0, 1);
   font-family: "Raleway", sans-serif;
   font-size: 15px;
   font-weight: 400;
   text-transform: uppercase;
   
 }

 .custom-radio input:checked + .radio-btn {
   border: 3px solid rgba(120, 0, 0, 1);
 }

 .custom-radio input:checked + .radio-btn > i {
   opacity: 1;
   transform: translateX(-50%) scale(1);
 }